## Java
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar

## Maven
target/
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

## IDE
# IDEA
.idea/

# Eclipse
.metadata
local.properties
.settings/
.loadpath
.recommenders
